<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
>
<head th:replace="com/header :: common_header(~{::title})">
    <title>用户管理</title> 
  <!--   <link rel="stylesheet" th:href="@{/content/plugins/ueditor/themes/default/css/ueditor.css}"> -->
</head>
	
	
	<body>
		<div class="x-nav">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">演示</a>
				<a>
					<cite>导航元素</cite></a>
			</span>
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" 
			onclick="location.reload()" title="刷新">
				<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
			</a>
		</div>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						 
						<div class="layui-card-body ">
						
							<!-- 搜索框 -->
							<form class="layui-form layui-col-space5" id = "searchForm" >
								<div class="layui-inline layui-show-xs-block">
									<input type="text" name="name"  placeholder="请输入名称" autocomplete="off" class="layui-input">
								</div>
								
								<div class="layui-inline layui-show-xs-block">
									<button class="layui-btn" type="button" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
								</div>
								
							</form>

							<!-- table组件-->
							<table class="layui-hide" id="test" lay-filter="test" ></table>

						</div>
					</div>
				</div>
			</div>
		</div>


<!-- 公共 -->
    <div th:replace="com/footer :: common_footer"></div>
    
    
	<!-- 弹出框 -->

		<div id="add-main" style="display: none;">
			<div class="my-form">
				<form class="layui-form" lay-filter="userForm">
					<div>
						<div class="layui-inline" id="userIdBox" style="padding:10px 5px;">
							<label for="userId" class="layui-form-label">
								<span class="x-red">*</span>用户ID</label>
							<div class="layui-input-inline">
								<input type="text" name="userId" id="userId" readonly="true" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="padding:10px 5px;">
							<label for="username" class="layui-form-label">
								<span class="x-red">*</span>用户名</label>
							<div class="layui-input-inline">
								<input type="text" id="username" name="username" lay-verify="username" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="padding:10px 5px;">
							<label for="password" class="layui-form-label">
								<span class="x-red">*</span>密码</label>
							<div class="layui-input-inline">
								<input type="password" id="password" name="password" lay-verify="password" autocomplete="off" class="layui-input">
							</div>
						</div>

						<div class="layui-inline" style="padding:10px 5px;">
							<label  class="layui-form-label">角色</label>
							<div class="layui-input-inline">
								<select name="deptId" id="deptId" lay-filter="deptId">
									<option value="1">超级管理员</option>
									<option value="2">一级认证管理员</option>
									<option value="3">二级认证管理员</option>
								</select>
								</div>
						</div>

						<div class="layui-inline" style="padding:10px 5px;">
							<label for="status" class="layui-form-label">
								状态</label>
							<div class="layui-input-block">
								<input type="hidden" id="status" name = "status" value="1">
								<input type="checkbox" id="switchTest" name="switchTest" lay-skin="switch" lay-filter="switchTest" lay-text="正常|禁用"> 
							</div>
						</div>
					</div>
					
				    <div class="layui-form-item my-form-item" id="opration">
				    	<div class="layui-input-block item">
				    		<button class="layui-btn" type="button"  lay-submit="" lay-filter="demo1" id="submit1">保存</button>
				    		<button type="reset" class="layui-btn layui-btn-primary" id="reset" >重置</button>
				    	</div>
				    </div>
				</form>
			</div>
		</div>

 
	<!-- 头工具条 -->
	<script type="text/html" id="toolbarDemo">
		<div class="layui-btn-container">
 <shiro:hasPermission name="sys:user:save">
			<button class="layui-btn layui-btn-sm layui-icon" lay-event="add">添加</button>
</shiro:hasPermission>
			<button class="layui-btn layui-btn-sm layui-icon" lay-event="detail">查看</button>
			<button class="layui-btn layui-btn-sm layui-icon" lay-event="edit">编辑</button>
			<button class="layui-btn layui-btn-sm layui-icon" lay-event="batchDel">删除</button>
			<button class="layui-btn layui-btn-sm layui-icon" lay-event="flush">刷新</button>
		</div>
	</script>

<script th:src="@{/static/a/sysuser.js}" charset="utf-8"></script>
	</body>
</html>
