<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>广东科技学院素拓认证系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/css/theme1.css}">


</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a>素拓认证管理系统</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>


    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <shiro:principal property="username"/>
            </a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd>
                    <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd>
                    <a href="/logout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统管理">&#xe726;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('权限用户管理','/modules/sys/user')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限用户管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('学生用户管理','/modules/mis/student')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>学生用户管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('菜单管理','admin-cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>菜单管理</cite></a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="认证管理">&#xe6ce;</i>
                    <cite>认证管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('认证申请','modules/mis/strelation')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>认证申请</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('认证项目','modules/mis/tuoproject')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>认证项目</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('我的素拓分','modules/mis/stuscore')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的素拓分</cite></a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="申诉管理">&#xe6ce;</i>
                    <cite>申诉管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('未通过的项目','modules/mis/complaint')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>未通过的项目</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('项目处理结果','modules/mis/cpresult')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>项目处理结果</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('我的素拓分','modules/mis/stuscore')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的素拓分</cite></a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="教师认证管理">&#xe6ce;</i>
                    <cite>教师认证管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('一级认证','modules/mis/oneAuthentication')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>一级认证</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('二级认证','modules/mis/twoAuthentication')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>二级认证</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('申诉处理','modules/mis/disposeComplaint')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>申诉处理</cite></a>
                    </li>


                </ul>

            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="统计">&#xe6ce;</i>
                    <cite>统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('素拓分统计','modules/mis/stuscore')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>素拓分统计</cite></a>
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/main' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>

<!-- 右侧主体结束 -->
<!-- 中部结束 -->

</body>

<script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    // 是否开启刷新记忆tab功能
    // var is_remember = false;
</script>

</html>