<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="com/header :: common_header(~{::title})">
    <title>业务管理</title>
    <!--   <link rel="stylesheet" th:href="@{/content/plugins/ueditor/themes/default/css/ueditor.css}"> -->
</head>

<body>

<!--  导航-->
<div class="x-nav">
			<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
				<a> <cite>导航元素</cite></a>
			</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                       onclick="location.reload()"
                       title="刷新"> <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i></a>
</div>

<!-- 内容区-->
<div class="layui-fluid">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">


                <!--  1.搜索条件区域 -->
                <div class="layui-card-body ">
                </div>

                <!-- 2.头部工具条，通过toolbarDemo绑定到table,通过lay-event监听事件 -->
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                    </div>
                </script>

                <!-- 3.数据表格 -->
                <div class="layui-card-body ">
                    <table class="layui-hide" id="test" lay-filter="test"></table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

<!-- 公共 -->
<div th:replace="com/footer :: common_footer"></div>


<script th:src="@{/static/a/cpresult.js}" charset="utf-8"></script>
</html>
