<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="com/header :: common_header(~{::title})">
    <title>业务管理</title>
    <!--   <link rel="stylesheet" th:href="@{/content/plugins/ueditor/themes/default/css/ueditor.css}"> -->
</head>

<body>
<div class="x-nav">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">演示</a>
				<a>
					<cite>导航元素</cite></a>
			</span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body ">

                    <!-- 搜索框 -->
                    <form class="layui-form layui-col-space5" id = "searchForm" >
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="name"  placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" type="button" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>

                    <!-- table组件-->
                    <table class="layui-hide" id="test" lay-filter="test" ></table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- 公共 -->
<div th:replace="com/footer :: common_footer"></div>



<!-- 弹出框 -->
<!--<div id="add-main" style="display: none;">-->
    <!--<div class="my-form">-->
        <!--<form class="layui-form" method="POST" lay-skin="line" id = "userForm">-->
            <!--<div class="layui-form-item my-form-item" id = "userIdBox">-->
                <!--<label class="layui-form-label layui-icon">&#xe66e;</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="stuId" id="stuId" readonly="true" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item my-form-item">-->
                <!--<label class="layui-form-label layui-icon">&#xe770;</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="username" id="username"  lay-verify="username" placeholder="请输入用户名" autocomplete="off"-->
                           <!--class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item my-form-item">-->
                <!--<label class="layui-form-label layui-icon">&#xe673;</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="password" name="password" id="password" lay-verify="password" placeholder="请输入密码" autocomplete="off"-->
                           <!--class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item my-form-item">-->
                <!--<label class="layui-form-label layui-icon">&#xe770;</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="mobile" id="mobile" lay-verify="mobile" maxlength="11" placeholder="请输入手机号" autocomplete="off"-->
                           <!--class="layui-input">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="layui-form-item my-form-item" id = "timeBox">-->
                <!--<label class="layui-form-label layui-icon">&#xe637;</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="createTime" id="createTime" autocomplete="off" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="layui-form-item my-form-item" id="opration">-->
                <!--<div class="layui-input-block item">-->
                    <!--<button class="layui-btn" type="button"  lay-submit="" lay-filter="demo1" id="submit1">保存</button>-->
                    <!--<button type="reset" class="layui-btn layui-btn-primary" id="reset" >重置</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<!-- 4. 弹出框 -->
<div id="myform1" style="display: none;">

    <form class="layui-form" lay-filter="userForm" id="userForm">

        <!-- 隐藏主键 -->
        <input type="hidden" name="tuoId" id="tuoId">


        <!-- 以下自动生成，根据需要修改 -->



        <div class="layui-inline" style="padding: 10px 5px;">
            <label class="layui-form-label"> <span class="x-red">*</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="tuoMess" name="tuoMess" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>




        <div class="layui-inline" style="padding: 10px 5px;">
            <label class="layui-form-label"> <span class="x-red">*</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="tuoSource" name="tuoSource" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>




        <div class="layui-inline" style="padding: 10px 5px;">
            <label class="layui-form-label"> <span class="x-red">*</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="tuoType" name="tuoType" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>





        <!-- 按钮-->
        <div class="layui-form-item my-form-item" id="opration">
            <div class="layui-input-block item">
                <button class="layui-btn" type="button" lay-submit="" lay-filter="save" id="submit">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>

</div>



<!-- 头工具条 -->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm " lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm " lay-event="detail">查看</button>
        <button class="layui-btn layui-btn-sm " lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-sm " lay-event="batchDel">删除</button>
    </div>
</script>





<script th:src="@{/static/a/tuoproject.js}" charset="utf-8"></script>
</html>
